[client]
port		= 3306
socket		= /home/test/mysql/mysql.sock
# The MySQL server
[mysqld]
!include /etc/mysqld.cnf
port        = 3306
socket      = /home/test/mysql/mysql.sock
skip-external-locking
log-warnings  = 2
log-error = /home/test/mysql/log/mysql.err
pid-file  = /home/test/mysql/var/mysql.pid
basedir = /home/test/mysql/
datadir = /home/test/mysql/data/
log-queries-not-using-indexes
long-query-time = 1
slow-query-log = 1
slow-query-log-file= /home/test/mysql/log/slow.log
pid-file  = /home/test/mysql/var/mysql.pid
tmpdir = /home/test/mysql/tmp/
slave-load-tmpdir = /home/test/mysql/tmp/
skip-name-resolve
skip-symbolic-links
slave-net-timeout=3
sync_binlog=1
relay_log_recovery=true
tmp_table_size  = 1024M
max_heap_table_size = 512M
key_buffer_size = 256M
sort_buffer_size  = 2M
read_buffer_size  = 2M
join_buffer_size  = 8M
read_rnd_buffer_size  = 8M
bulk_insert_buffer_size = 64M
max_allowed_packet = 2M
table_open_cache = 64
net_buffer_length = 8K
myisam_sort_buffer_size = 8M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

max_connections = 1000

#default_table_type  = INNODB
#transaction_isolation = REPEATABLE-READ

innodb_status_file
innodb_buffer_pool_size = 4G
innodb_additional_mem_pool_size = 100M
innodb_data_home_dir  = /home/test/mysql/data/
innodb_data_file_path = ibdata1:10G:autoextend
innodb_file_io_threads  = 4
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit  = 1
innodb_log_buffer_size  = 8M
innodb_log_group_home_dir = /home/test/mysql/data/
innodb_log_file_size  = 256M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct  = 90
innodb_lock_wait_timeout  = 50


server-id   = 1 
log-bin=mysql-bin
binlog_format=mixed
log-slave-updates 
replicate-wild-ignore-table=mysql.%
slave-skip-errors =1062


#崩溃后刷新到磁盘,备库的配置文件，主库不用启动。
#sync_mater_info = 1
#sync_relay_log = 1
#sync_relay_log_info = 1



#自动删除n天之前的binlog日志，防止数据过大，默认为0，不自动删除，取值范围0~99
#expire_logs_days=3
[mysqldump]
max_allowed_packet  = 32M

[mysql]
no-auto-rehash
max_allowed_packet  = 32M

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

