#Modified based on CentOS 7.3's sshd config.

Port 22
AddressFamily inet
ListenAddress 0.0.0.0

Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key

LogLevel INFO

#check file modes and ownership of the user's files and home directory before accept‐ing login.
StrictModes yes

PubkeyAuthentication yes

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
AuthorizedKeysFile	.ssh/authorized_keys

PermitEmptyPasswords no

ChallengeResponseAuthentication no
UsePAM yes

GSSAPIAuthentication no
GSSAPICleanupCredentials no

UsePrivilegeSeparation sandbox		# Default for new installations.
ClientAliveInterval 60 # 60s no response, server will send test message to client
ClientAliveCountMax 3

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server

UseDNS no
PermitRootLogin no
SyslogFacility AUTHPRIV
PasswordAuthentication no
